* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #8b949b;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: #656472;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

section h2{
    color: aliceblue;
    font-size: 2rem;
    margin: 1rem;
}

section form {
    display: flex;
    flex-direction: column;
    width: 100%;

}

form label{
    color: aliceblue;
    font-size: 17px;
    margin-bottom: 4px;
}

form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 12px;
    font-size: 15px;
    transition: all 0.5s;
}

form input:focus{
    border-radius: 16px;
}

form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}

form textarea:focus{
    border-radius: 16px;
}

form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid aliceblue;
    color: aliceblue;
    transition: all 1s;
    margin-bottom: 20px;
}
form button:hover{
    background: aliceblue;
    color: rgb(47, 49, 50);
    border-radius: 16px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #8b949b;
    flex-direction: column;
}
.text{
    font-size: 45px;
    color: aliceblue;
    margin-bottom: 30px;
}
.paragrafo{
    color: aliceblue;
    margin-bottom: 50px;
}
.btn{
    padding: 15px 55px;
    background: aliceblue;
    text-decoration: none;
    color: #8b949b;
    font-size: 15px;
    transition: all 0.5s;
}
.btn:hover{
    border-radius: 16px;
}